# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS

cms/wp-admin/*
cms/wp-content/themes/twentyeleven
cms/wp-content/themes/twentyten
cms/wp-content/uploads/*
cms/wp-includes/*
